<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.witaction.yunxiaowei">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CommonAppTheme">
        <activity android:name=".ui.main.home.classaffairs.studentleave.StudentLeaveRecordActivity"></activity>
        <activity android:name=".ui.main.home.classaffairs.classtimetable.ClassTimetableActivity" />
        <activity android:name=".ui.main.home.classaffairs.addstatus.AddStudentStatusActivity" />
        <activity android:name=".ui.main.home.classaffairs.rouster.StudentRosterActivity" />
        <activity android:name=".ui.main.home.classaffairs.ClassAffairActivity" />
        <activity android:name=".ui.main.home.classlist.ClassListActivity" />
        <activity android:name=".ui.main.my.accountset.collectface.CollectFaceActivity" />
        <activity android:name=".ui.main.my.accountset.resetphone.ResetPhoneActivity" />
        <activity android:name=".ui.main.my.accountset.resetpwd.ResetPwdActivity" /> <!-- 真实姓名 -->
        <activity
            android:name=".ui.main.my.accountset.realname.RealNameActivity"
            android:launchMode="singleTask" /> <!-- 账号设置 -->
        <activity
            android:name=".ui.main.my.accountset.AccountSetActivity"
            android:launchMode="singleTask" /> <!-- 首页 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:launchMode="singleTask" /> <!-- 登录页 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask" /> <!-- 欢迎页 -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>